/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* app css */

.app__body {
    width: 100%;
    height: 100vh;
    background-color: #233142;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.app__container {
    width: 80%;
    height: 500px;
    background-color: #232329;
    display: flex;
    gap: 30px;
    border-radius: 8px;
    flex-direction: row;
    overflow: hidden;
}

.app__container--left, .app__container--right {
    background-color: #fff;
    width: 50%;
    border-radius: 8px;
    
}

.app__header, .app__footer {
    width: 100%;
    height: 50px;
    background-color: #6af79a;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}

.btn__detected {
    background-color: #233142;
    color: #6af79a;
}


.btn__language {
    background-color: #6af79a;
    border: 1px solid #233142;
    color: #233142;
}

.left__language--switch {
    padding: 5px 10px;
    background-color: #233142;
    border: none;
    color: #6af79a;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
}
.left__language--switch option{
    width:120px;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #233142;
    cursor: pointer;
}

.icon {
    color: #6af79a;
    font-size: 24px;
}
.text-area{
    width: 100%;
    height: 375px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #233142;
    font-weight: 700;
}
.word-count{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

/* .content__area {
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow-y: auto;
} */

.copy__sound--icon {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selected{
    background-color: #fff;
    color: #233142;
    border: none;
}
.copy-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6af79a;
    color: #233142;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }

/* Responsive Design */


@media (max-width: 480px) {
    .app__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .app__container--left, .app__container--right{
        width: 100%;
    }
    
    
    .btn {
        padding: 4px 8px;
        font-size: 12px;
    }

    .left__language--switch {
        padding: 4px 8px;
        font-size: 12px;
    }

    .btn__icon {
        width: 35px;
        height: 35px;
        border: none;
        outline: none;
    }

    .icon {
        font-size: 20px;
        color: #fff;
    }

    /* .content__area {
        height: 300px;
        padding: 5px;
    } */

    .copy__sound--icon {
        width: 25%;
        justify-content: space-between;
    }
}
